flows.json
[
    {
        "id": "96d3534b5bcba748",
        "type": "tab",
        "label": "Sprint 4 - Atticus",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "098f0a52b9146b6f",
        "type": "json",
        "z": "96d3534b5bcba748",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "e834a0f45a4f2b01"
            ]
        ]
    },
    {
        "id": "e834a0f45a4f2b01",
        "type": "function",
        "z": "96d3534b5bcba748",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 120,
        "wires": [
            [
                "4cf7635cd96755ed",
                "1bbcf52e7f7cdebf"
            ]
        ]
    },
    {
        "id": "4cf7635cd96755ed",
        "type": "mqtt out",
        "z": "96d3534b5bcba748",
        "name": "",
        "topic": "atticus/sprint4",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b3fae8d6624a5b25",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "cf12e7fe09163ad8",
        "type": "inject",
        "z": "96d3534b5bcba748",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "098f0a52b9146b6f"
            ]
        ]
    },
    {
        "id": "8091adc661ddac75",
        "type": "mqtt in",
        "z": "96d3534b5bcba748",
        "name": "",
        "topic": "atticus/sprint4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b3fae8d6624a5b25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "f24fa1214c85d984",
                "8871d3ddc18a01b9"
            ]
        ]
    },
    {
        "id": "f24fa1214c85d984",
        "type": "change",
        "z": "96d3534b5bcba748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "e8bd77478f497f10"
            ]
        ]
    },
    {
        "id": "1bbcf52e7f7cdebf",
        "type": "debug",
        "z": "96d3534b5bcba748",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "e8bd77478f497f10",
        "type": "ui_text",
        "z": "96d3534b5bcba748",
        "group": "7c4ef0f733706ffd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Situação:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "8871d3ddc18a01b9",
        "type": "change",
        "z": "96d3534b5bcba748",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 420,
        "wires": [
            [
                "0a21805bb2973396"
            ]
        ]
    },
    {
        "id": "0a21805bb2973396",
        "type": "ui_gauge",
        "z": "96d3534b5bcba748",
        "name": "",
        "group": "7c4ef0f733706ffd",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "compass",
        "title": "Distancia",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "f48db57bb4113cfc",
        "type": "serial in",
        "z": "96d3534b5bcba748",
        "name": "Arduino Uno",
        "serial": "0fc3898843594394",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "098f0a52b9146b6f"
            ]
        ]
    },
    {
        "id": "b3fae8d6624a5b25",
        "type": "mqtt-broker",
        "name": "Sprint 04 tago",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7c4ef0f733706ffd",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "19b33ec492462646",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fc3898843594394",
        "type": "serial-port",
        "serialport": "COM8",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "19b33ec492462646",
        "type": "ui_tab",
        "name": "Sprint 4 - Atticus",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]